# node_modules en todos los subproyectos
**/node_modules/

# dist (carpetas de compilación)
**/dist/

# Angular cache
**/.angular/cache/

# IDEs y sistema
**/.vscode/
**/.idea/
.DS_Store
Thumbs.db

# Logs en cualquier lugar
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
**/.env
**/.env.*.local

# Archivos temporales
**/*~
**/#*#
**/.#*